* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(222, 222, 255);
}

#pageBox {
  height: 300px;
  width: 300px;
  background-color: tomato;
}
